<a href='https://www.darshan.ac.in/'> <img src='https://www.darshan.ac.in/Content/media/DU_Logo.svg' width="250" height="300"/></a>
<pre>
<center><b><h1>Data Mining</b></center>
<center><b><h1>Lab - 4</b></center>    
<pre>



### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [4]:
data = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv" , sep="\t")

### Step 3. Assign it to a variable called chipo.

In [5]:
chipo = data

### Step 4. See the first 10 entries

In [6]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [7]:
# Solution 1

chipo.count()

order_id              4622
quantity              4622
item_name             4622
choice_description    3376
item_price            4622
dtype: int64

In [11]:
# Solution 2

chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

### Step 6. What is the number of columns in the dataset?

In [ ]:
# If shape[0] = rowCount and shape[1] = columnCount
chipo.shape[1]

5

### Step 7. Print the name of all the columns.

In [15]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [16]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Number of Unique Items ?

In [19]:
chipo.item_name.nunique()

50

### Step 10. Which was the most-ordered item?

In [24]:
groupData = chipo.groupby("item_name")
sumOfGroupData = groupData.sum()
d2 = sumOfGroupData.sort_values(["quantity"] , ascending=False)
d2[["order_id" , "quantity"]].head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

### Step 11. How many items were orderd in total?

In [27]:
chipo.quantity.sum()

np.int64(4972)

### Step 12. Turn the item price into a float

#### Step 12.a. Check the item price type

In [25]:
chipo["item_price"].dtype

dtype('O')

#### Step 12.b. Create a lambda function and change the type of item price

In [32]:
m = lambda x : float(x[1 : ])
chipo["item_price"] = chipo["item_price"].apply(m)

#### Step 12.c. Check the item price type

In [34]:
chipo["item_price"].dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [35]:
chipo["revenue"] = chipo["item_price"] * chipo["quantity"]
revenue = chipo["revenue"].sum()
print(f"The revenue is = ${revenue}")

The revenue is = $39237.02

### Step 15. How many orders were made ?

In [26]:
chipo.order_id.nunique()

1834

### Step 17. How many different choice descriptions are there?

In [36]:
chipo.choice_description.nunique()

1043

### Step 18. What items have been ordered more than 100 times?

In [39]:
group = chipo.groupby("item_name")["quantity"].sum()
group[group > 100]

item_name
Bottled Water                   211
Canned Soda                     126
Canned Soft Drink               351
Chicken Bowl                    761
Chicken Burrito                 591
Chicken Salad Bowl              123
Chicken Soft Tacos              120
Chips                           230
Chips and Fresh Tomato Salsa    130
Chips and Guacamole             506
Side of Chips                   110
Steak Bowl                      221
Steak Burrito                   386
Name: quantity, dtype: int64

### Step 19. What is the average revenue amount per order?

In [40]:
# Solution 1
c = chipo.groupby("order_id")["revenue"].sum().mean()
c

np.float64(21.39423118865867)

In [41]:
# Solution 2
sum = chipo["revenue"].sum() / chipo["order_id"].nunique()
sum

np.float64(21.39423118865867)